.line-transparent {
    background: black;
    width: 100%;
    display: flex;
  }
  
  .line-light {
    height: 50px;
    width: 200px;
    background: #EE9CA7;
  }
  
  .line-medium {
    height: 200px;
    width: 300px;
    background-color: #412dd7;
  }
  
  .line-hard {
    height: 150px;
    width: 400px;
    background: #9F3442;
    
  }
